# ========================
# Python bytecode/cache
# ========================
__pycache__/
*.py[cod]
*$py.class

# ========================
# C extensions
# ========================
*.so

# ========================
# Build / Packaging
# ========================
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ========================
# PyInstaller
# ========================
*.manifest
*.spec

# ========================
# Installer logs
# ========================
pip-log.txt
pip-delete-this-directory.txt

# ========================
# Unit test / coverage
# ========================
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# ========================
# Django / Flask / Logs
# ========================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# ========================
# Scrapy
# ========================
.scrapy

# ========================
# Sphinx documentation
# ========================
docs/_build/

# ========================
# PyBuilder
# ========================
target/

# ========================
# Jupyter Notebook
# ========================
.ipynb_checkpoints
*.ipynb

# ========================
# IPython
# ========================
profile_default/
ipython_config.py

# ========================
# Virtual Envs
# ========================
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ========================
# IDE / Editors
# ========================
.idea/
.vscode/
.spyderproject
.spyproject
.ropeproject

# ========================
# Project-specific
# ========================
data/*
research
config/secrets.yaml

# Outputs / Uploads
uploads/
outputs/
*.mp4
*.avi
*.mov
*.mkv
*.gif

# Pretrained models (auto-download hotey hain)
*.pt
*.t7

# Artifacts
artifacts/
artifacts/extracted_features/*
artifacts/pickle_format_data/*
new_dataset/

# ========================
# Logs
# ========================
*.log
